.wisp{
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
    z-index: 2;
}
.top-content{
    width: 100%;
    height: 98vh;
    /* background-color: #A8DF8E; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

video
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;;
  filter: grayscale(0%);

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.top-content{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-p{
    font-size: 3.2vw !important;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Roboto Mono', monospace;
    word-wrap: break-word;
    text-align: center;
    display: block;
    width: 75%;
    
}
.top-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-h1{
    font-size: 5vw !important;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Martian Mono', monospace;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    padding: 1.5vw;
}
.two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}
.two-head h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 7vw;
    color: antiquewhite;
    text-align: center;
    text-wrap: wrap;
}

.card1{
    width: 400px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue; 
}
.card1 img{
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    opacity: 60%;
}
.card1:hover{
    transition-duration: 1s;
    transform: scale(1.05);
    background-size: cover;
    color: whitesmoke;
    
}
.card1 a{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position:absolute;
    text-decoration: none;
    font-size: 2.8rem;
    color: black;
    word-wrap: break-word;
    z-index: 1;
}

.name-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
    width: 100%;
    background-color: #B5D5C5;
}
.name-two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    margin-bottom: 3rem;
}
.name-two-head h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 6vw;
    color: antiquewhite;
    margin-top: 2rem;
}

.name-card1{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    background-color: aliceblue;
    
}
.name-card1 img{
    border-radius: 25px 25px 0px 0px;
}
.name-card1-text{
    padding: auto;
}
.name-card1 a{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    word-wrap: break-word;
}


.disease-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    
    padding-bottom: 50px;
    background-color: #B5D5C5;
}
.disease-two-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2vw;
}
.disease-two-head h1{
    font-family: 'Roboto Mono', monospace;
    margin-top: 1.5rem;
    font-size: 5rem;
    color: antiquewhite;
}

.disease-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.disease-main{
    position: relative;
    height: 350px;
    width: 450px;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  .disease-image{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #85586F;
    width: 300px;
    height: 240px;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
  }
  .disease-image img{
    border-radius: 25px;
  }
  .disease-content{
    position: absolute;
    background-color: #fff;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 213px;
    height: 100px;
    top: 11.5rem;
    border-radius: 15px;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
  }
  .disease-image:hover + .disease-content {
    top: 15rem;
    transform: scale(0.95);
}
.disease-image:hover{
    transform: scale(1.15);
}

  .disease-content a{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: black;
}

  /* Solution */

.solution-two-card img{
    width: 100%;
    height: 100%;
  }
.solution-two{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.solution-two-head{
    font-size: 4rem;
    align-items: center;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
}
.solution-two-head h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: #435334;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
}
.solution-content{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin-bottom: 3rem;
}
.solution-content p{
    margin-bottom: 0.5rem !important;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.solution-two-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2vw;

    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
    
    padding: 2rem;
    color: black;
    border-radius: 10px;
    width: 75%;
    height: max-content;
}

.solution-content h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5px !important;
    font-size: 3rem !important;
}

/* wheather */
.three{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    padding: 10px;
}
.weather{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: space-around;
    justify-content: space-between;
}

.lside{

    grid-column: span 1;
    grid-row: span 3;
}
.rside{
    grid-column: span 1;
    grid-row: span 3;
}
.Weather-card1{
    background-color: #9e1d1d00;
    border-radius: 10px;
}

/* footer */

footer{
    background-color: lightgreen;
    
}
 

@media only screen and (max-width: 600px) {
    .top-p{
        font-size: 6vw !important;
        width: 80%; 
    }
    .top-h1{
        font-size: 11vw !important;
    }

    .card1{
        width: 90vw;
        height: 90vw;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue; 
    }
    .two-head h1{
        font-size: 9vw;
        color: antiquewhite;
        text-align: center;
        text-wrap: wrap;
    }

    .card1 a{
        text-decoration: none;
        font-size: 10vw;
        color: black;
        word-wrap: break-word;
    }

    .name-two{
        padding: 10vw;
    }

    .name-card1{
        width: 70vw;
        height: 60vw;
    }
    .name-card1 a{
        text-decoration: none;
        font-size: 10vw;
        color: black;
        word-wrap: break-word;
    }
    .name-two-head h1{
        font-size: 12vw;
        color: antiquewhite;
        margin-top: 2rem;
    }
    .disease-two-head h1{
        margin-top: 1.5rem;
        font-size: 12vw;
        color: antiquewhite;
    }
    .disease-back{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        flex-wrap: wrap;
    }
    .disease-main{
        position: relative;
        height: 70vw;
        width: 60vw;
        display: flex;
        justify-content: center;
        z-index: 0;
      }
      .disease-image{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #85586F;
        width: 60vw;
        height: 50vw;
        z-index: 1;
        border-radius: 25px;
        box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
        transition-duration: 0.5s;
      }
      .disease-image img{
        border-radius: 25px;
      }
      .disease-content{
        position: absolute;
        background-color: #fff;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        width: 50vw;
        height: 20vw;
        top: 40vw;
        border-radius: 15px;
        box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3);
        transition-duration: 0.5s;
      }
      .disease-image:hover + .disease-content {
        top: 50vw;
        transform: scale(0.95);
    }
    .disease-image:hover{
        transform: scale(1.15);
    }
    
      .disease-content a{
        text-decoration: none;
        color: black;
    }
    .solution-two-card p{
        font-size: 5vw;
    }
    .solution-two-card{
        width: 95%;
    }
    .solution-content h1{
        font-size: 8vw !important;
    }
  }