<%- include('partials/header.ejs') %>
<video id="back-video" src="/images/video3.mp4" autoplay muted loop></video>
<div class="top-content">
    <h1 class="top-h1">Crop Doctor</h1>
    <div class="top-div">
      <p class="top-p ">We Care for Your Crops.Helping Indian Farms Thrive. Sustainable Solutions, Better Harvests, Brighter Futures. Let's Grow India Together, One Crop at a Time."</p>
    </div>
  </div>
</div>
<div class="two" id="Features">
    <div class="two-head">
         <h1>Select the Type</h1>
    </div>
    <div class="two-card">
        <div class="card1 divclick">
            <img src="/images/field-crop.jpeg" alt="field-crop">
            <a class=" " href="/field-crop" role="button" name="field-crop">Field Crop</a>
        </div>
        <div class="card1 divclick">
            <img src="/images/fruit-tree.jpeg" alt="field-crop">
            <a class=" " href="/fruit-tree" role="button" name="fruit-tree">Fruit Tree</a>
        </div>
        <div class="card1 divclick">
            <img src="/images/vegetable-crop.jpeg" alt="field-crop">
            <a class=" " href="/vegetable-crop" role="button" name="vegetable-crop">vegetable-crop</a>
        </div>
    </div>
    
</div>




































<%- include('partials/footer.ejs') %>